@use 'variables' as *;

.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
}

.filter-card {
  grid-column: span 3;
}

.content {
  grid-column: span 9;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

@media (width <= 900px) {
  .page-wrapper {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 24px;
  }

  .filter-card {
    grid-column: span 6;
  }

  .content {
    grid-column: span 6;
  }

  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width <= 600px) {
  .page-wrapper {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
  }

  .filter-card {
    grid-column: span 4;
  }

  .content {
    grid-column: span 4;
  }

  .card-grid {
    grid-template-columns: 1fr;
  }
}
